.shoe__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.shoe-title__section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.shoe-title__section .line {
    flex: 1;
    height: 1px;
    background-color: var(--purple); 
    display: inline-block;
}

.shoe__title {
    font-family: var(--primary-font);
    color: var(--purple);
}

.shoe__row {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 2rem;
    margin-bottom: 2rem;
}

.shoe__row:focus-within .label {
    color: var(--dark-pink);
}

.button__wrapper {
    display: flex;
    align-items: center;
    height: 50px;
}

.remove__btn, .add__btn {
    color: var(--light-pink);
    background-color: var(--dark-pink);
    font-size: var(--secondary-font);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    padding-bottom: 0.5rem;
}

.add__btn {
    color: var(--light-pink);
    background-color: var(--dark-pink);
    font-size: var(--secondary-font);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding-top: 0.5rem;
}

.error__msg {
    text-align: center;
    width: 80%;
    font-family: var(--secondary-font);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}