@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

:root {
  --dark-pink: #EC315A;
  --pink: #FDDDDF;
  --light-pink: #FFF4F2;
  --purple: #441D81;
  --black: #1B1919;
  --black-pink: #361C21;
  --primary-font: "Bebas Neue", sans-serif;
  --secondary-font: "Work Sans", sans-serif;
}

.app {
  max-width: 430px;
}